<section class="hero is-white is-medium">
  <div class="hero-body">
  <div class="container">
    <img src="{{asset('img/home/pre-upload-proposals.png')}}" class="image is-centered spotlight-pitcure" alt="">
    <h1 class="title has-text-centered is-1 is-size-2-touch has-text-primary">¡Vayan preparando sus ideas!</h1>
    <h1 class="subtitle has-text-centered is-3 is-size-5-touch has-text-dark">Muy pronto abriremos los formularios para proponer proyectos. ¡No se queden afuera!</h1>
  </div>
  </div>
</section>