{% set show_footer = true %}
{% set show_navbar = true %}
{# set body_class = '' #}

{% block title %}Datos y estadísticas{% endblock %}

{% extends 'master.twig' %}

{% block body %}
  <div class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">Datos y estadísticas</h1>
        <h1 class="subtitle is-5">Los siguientes datos son datos que la plataforma provee.</h1>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
    </div>
  </section>
{% endblock %}