{% set show_footer = true %}
{% set show_navbar = true %}
{# set body_class = '' #}

{% block title %}Términos y Condiciones{% endblock %}

{% extends 'master.twig' %}

{% block body %}
 <div class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-2">Terminos y condiciones</h1>
        <h1 class="subtitle is-5">Terminos y condiciones de la plataforma y del presupuesto participativo</h1>
      </div>
    </div>
  </div>
  {% include 'base/blocks.twig' with blocks %}

{% endblock %}